.git
.github
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
!docker/.env.docker
tests
*.md
Screenshot*
.idea
.vscode
.phpunit.result.cache
npm-debug.log
yarn-error.log
